
@{
    ViewBag.Title = "Test";
    Layout = "../Shared/_LOut.cshtml";
}

<table style="color: rebeccapurple;">
    <tr>
        <td>Name</td>
        <td>
            <input type="text" name="Name" placeholder="Enter Name" />
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td>
            <input type="password" name="pass" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" name="submit" value="Submit" />
        </td>
    </tr>
</table>

<table class="data" style="color: rebeccapurple;">
    <tr>
        <td>Name</td>
        <td>School</td>
        <td>Address</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>School</td>
        <td>Address</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>School</td>
        <td>Address</td>
    </tr>
</table>

